{% extends "base.html" %}
{% block title %}Add New Item{% endblock %}

{% block content %}
  <div class="row">
    <div class="medium-8 columns">
      <h1>{{ item.name }}</h1>
    </div>
  </div>


  <div class="row">
    <div class="medium-8 columns">
      <p>{{ item.description }}</p>

    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      {% if item.user.name == user_name %}
        <a href="{{ url_for('edit_item', item_name = item.name,
        category_name=category.name) }}"
           class="button secondary">Edit/Delete Item</a>
        </div>
        </div>
      {% endif %}




{% endblock %}