{% extends "base.html" %}
{% block title %}Add New Category{% endblock %}

{% block content %}

  <h1>Add New Category</h1>

  <form action="#" method="post">
    <div class="row">
      <div class="medium-6 columns">
        <label for="name">Name:
          <input type="text" placeholder="Enter text....."
                 name="category_name">
        </label>
        <div class="input-group-button">
          <input type="submit" class="button" value="Submit" id="submit">
        </div>
      </div>
    </div>
  </form>

{% endblock %}


